<br />
<form *ngIf="isAdmin()" class="container myFont" [formGroup]="studentForm" (ngSubmit)="updateStudentByAdmin()">
  <h2>Modification de l'étudiant</h2>
  <br />

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Nom</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="lastname" [(ngModel)]="this.student.lastname">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Prénom</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="firstname" [(ngModel)]="this.student.firstname">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Pseudo</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="pseudo" [(ngModel)]="this.student.pseudo">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Date de naissance</label>
    <div class="col-md-3">
      <input type="date" class="form-control" formControlName="birthdate" [(ngModel)]="this.student.birthdate">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Spécialité</label>
    <div class="col-md-3">
      <select class="form-control" #s (change)="getSelectedValue(s.value)"
              [(ngModel)]="this.student.speciality"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let speciality of getSpecialities()" [value]="speciality" >{{speciality}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Email</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="email" [(ngModel)]="this.student.email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Téléphone</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="phone" [(ngModel)]="this.student.phone">
    </div>
  </div>
  <br />

  <div>
    <button class="btn btn-primary" routerLink="/admin/student/{{this.student.pseudo}}">Retour</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>

<form *ngIf="isUtilisateur()" class="container myFont" [formGroup]="studentForm" (ngSubmit)="updateStudentByStudent()">
  <h2>Modification vos données</h2>
  <br />

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Nom</label>
    <div class="col-md-3">{{this.student.lastname}}</div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Prénom</label>
    <div class="col-md-3">{{this.student.firstname}}</div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Pseudo</label>
    <div class="col-md-3">{{this.student.pseudo}}</div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Date de naissance</label>
    <div class="col-md-3">{{this.student.birthdate | date:'dd/MM/yyyy'}}</div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Spécialité</label>
    <div class="col-md-3">{{this.student.speciality}}</div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Email</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="email" [(ngModel)]="this.student.email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Téléphone</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="phone" [(ngModel)]="this.student.phone">
    </div>
  </div>
  <br />

  <div>
    <button class="btn btn-primary" routerLink="/student/{{this.student.pseudo}}">Retour</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>
