.color-bg{
  background-color: #009999 !important;
}

.color{
  margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white !important;
}

.btn-color{
  background-color: #009999;

}
img{
  width:60%;
}


.myFont{
 text-align: left;
  background-color: #f0f0f5;
  font-style: normal;
  font-size: 20px;
  font-family: Georgia, serif;
}


.col-md-4{
  text-align: left;
}
.col-md-8{
  text-align: left;
}

.info-col{
  background-color: #009999;
  font-style: normal;
  font-size: 25px;
  font-family: Georgia, serif;
  color: white;
}
