
<nav class="navbar navbar-expand-lg navbar-light bg-light color-bg">
  <a class="navbar-brand" href="#">AppSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link color" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br />
<div *ngIf="!isOnLine()" class="text-center" style="color:red;font-size: 20px">
  <strong>Vous êtes hors ligne !</strong><br />
  Pour pouvoir consulter votre profil et vos notes en mode hors ligne, <br />
  vous devez vous être connecté une fois en mode en ligne dans l'heure précédente
</div>

<router-outlet></router-outlet>
