<div class="container myFont">
<br/>
<div class="text-center">
  <label class="mr-sm-2">Ajouter un étudiant :</label>
  <img src="../assets/images/add-user.png" routerLink="/admin/add" >
</div>
<br />
<div class="text-center">
<form class="form-inline justify-content-center">
    <label class="mr-sm-2">Rechercher un étudiant :</label>

  <input class="form-control mr-sm-2" #research (keyup)="onKey(research.value)">

</form>
</div>

<div class="text-center">
  <small class="form-text text-muted">Entrer le nom ou le prénom de l'étudiant (insensible à la casse)</small></div>
<br />

<form class="form-inline justify-content-center ">
<label class="mr-sm-2 ">Spécialité :</label>
<select class="form-control" (ngModelChange)="onChange($event)"
        [(ngModel)]="selectedSpeciality"
        [ngModelOptions]="{standalone: true}">
  <option value="" selected="selected">Spécialité</option>
  <option *ngFor="let speciality of getSpecialities()" [ngValue]="speciality">{{speciality}}</option>
</select>
</form>
<br />
<div *ngIf="isNotNullAndNotEmpty() else noStudent" >
  <div *ngFor="let studentInfos of this.students()">
    <app-student-infos [studentInfos]="studentInfos"></app-student-infos>
    <br />
  </div>
</div>
<ng-template #noStudent>
  <br />
  <div class="text-center">
    Aucun étudiant ne correspond à votre recherche.
  </div>
</ng-template>
</div>
