<div class="container">
  <div class="col-md-12 card-title text-center">
    <div class="card ">
      <div class="card-body myFont">
        <h5 class="card-title text-center info-col" *ngIf="!isAdmin() && !isUtilisateur()">
          <a [routerLink]="['/admin/student/',this.studentInfos.pseudo]">  <img src="../assets/images/edit.ico"> Informations </a>
        </h5>
        <h5 class="card-title text-center info-col" *ngIf="isAdmin()">
           <img src="../assets/images/edit.ico" routerLink="/admin/update/{{this.studentInfos.id}}"> Informations
        </h5>
        <h5 class="card-title text-center" *ngIf="isUtilisateur()">
          Informations <button routerLink="/student/update/{{this.studentInfos.id}}"> Modifier vos données personnelles</button>
        </h5>

        <div class="row">
          <div class="col-md-4 col" >Nom : </div>
          <div class="col-md-8 col">{{this.studentInfos.lastname}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 col2">Prénom : </div>
          <div class="col-md-8 col2">{{this.studentInfos.firstname}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 col">Pseudo : </div>
          <div class="col-md-8 col">{{this.studentInfos.pseudo}}</div>
        </div>
        <div class="row">
          <div class="col-md-4">Date de naissance : </div>
          <div class="col-md-8"> {{this.studentInfos.birthdate | date:'dd/MM/yyyy'}}</div>
        </div>

        <div class="row">
          <div class="col-md-4 ">Spécialité: </div>
          <div class="col-md-8 ">{{this.studentInfos.speciality}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 ">Email : </div>
          <div class="col-md-8 ">{{this.studentInfos.email}}</div>
        </div>
        <div class="row">
          <div class="col-md-4 ">Téléphone : </div>
          <div class="col-md-8 ">{{this.studentInfos.phone}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
