
img{
  width: 30px;
}



a{
text-decoration: none;
color: white;
}

.info-col{
  background-color: #009999;
  font-style: normal;
  font-size: 25px;
  font-family: Georgia, serif;
  color: white;
}


.myFont{
 text-align: left;
  background-color: #f0f0f5;
  grid-row-gap: 50px;
  border-top: 4px;
  border-right: 5px;
  font-style: normal;
  font-size: 18px;
  font-family: Georgia, serif;

}
