<br />
<form *ngIf="this.grade" class="container myFont" [formGroup]="gradeForm" (ngSubmit)="updateGrade()">
  <h2>Modification d'une note</h2>
  <br />

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Matière</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="subject" [(ngModel)]="this.grade.subject">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Note</label>
    <div class="col-md-3">
      <input type="number" class="form-control" formControlName="note" [(ngModel)]="this.grade.note">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Coefficient</label>
    <div class="col-md-3">
      <input type="number" class="form-control" formControlName="coefficient" [(ngModel)]="this.grade.coefficient">
    </div>
  </div>
  <br />

  <div>
    <button *ngIf="this.studentInfos" class="btn btn-primary" routerLink="/admin/student/{{this.studentInfos.pseudo}}">Retour</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>

