<div class="container">
  <div class="col-md-12 table-font ">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title text-center" *ngIf="isAdmin() else noAdd">
          Notes
          <img src ="../assets/images/add_note.png" routerLink="/admin/addgrade/{{this.studentInfos.id}}">
        </h5>
        <ng-template #noAdd>
          <h5 class="card-title text-center  ">Notes</h5>
        </ng-template>
        <br />
        <div  *ngIf="this.studentGrades?.length > 0 else noGrade" >
          <table class="table table-bordered ">
            <tr>
              <th *ngIf="isAdmin()">Actions</th>
              <th *ngFor="let col of columns">{{getColumnName(col)}}</th>
            </tr>
            <tr *ngFor="let grade of this.studentGrades">
              <td *ngIf="isAdmin()">
                <img src="../assets/images/edit-note.png"  routerLink="/admin/updategrade/{{this.grade.id}}">
                <img src="../assets/images/delete.png"  (click) = "deleteGrade(grade)">
              </td>
              <td *ngFor="let col of columns">
                {{grade[col]}}
              </td>
            </tr>
            </table>
          <div class="text-center">
            Votre moyenne est de <strong>{{this.moyenne | number:'1.2-2'}}</strong>.
          </div>
        </div>
        <ng-template #noGrade>
          <div class="text-center">
            Vous n'avez pas encore de notes.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
