button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom :25px;
}

.bg-colour1{
    background-color:orange ;
}



.myFont{
  text-align: left;

  font-style: normal;
  font-size: 25px;
  font-family: Georgia, serif;

}

.bg-colour2{
    background-color: #009999;
}
