<main *ngIf="this.studentInfos" class="container">

  <div class="jumbotron myFont" *ngIf="isUtilisateur()">
    <br />
    <h5 >Bonjour {{this.studentInfos.firstname}},</h5><br />
    <p>  Bienvenue sur votre espace personnel.<br />
      Vous pouvez modifier vos informations et consulter vos notes.
    </p>
    <br />
  </div>

  <div class="jumbotron" *ngIf="isAdmin()">
    <br/>
    <h5 class="myFont"> Bienvenue dans l'espace d'administration.</h5><br />
    <p> Vous pouvez modifier les infomations de l'étudiant ou le supprimer et ajouter ou supprimer des notes.</p>
    <br />
    <div class="text-center" *ngIf="isAdmin()">
      <button class="bg-colour2" routerLink="/admin/students" >Retour </button>
      <button class="bg-colour1" (click) = "deleteStudent(studentInfos)">Suppression </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-student-infos [studentInfos]="studentInfos" class="col-md-6"></app-student-infos>
      <br/>
      <app-student-grades [studentGrades]="studentGrades()" [moyenne]="getMoyenne()" [studentInfos]="getStudent()" class="col-md-6"></app-student-grades>
    </div>
  </div>
</main>
