<br />
<form class="container myFont" [formGroup]="noteForm" (ngSubmit)="addNote()">
  <h2>Ajout d'une note</h2>
  <br />

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Matière</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="subject">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Note</label>
    <div class="col-md-3">
      <input type="number" class="form-control" formControlName="note">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Coefficient</label>
    <div class="col-md-3">
      <input type="number" class="form-control" formControlName="coefficient">
    </div>
  </div>
  <br />

  <div>
    <button class="btn btn-primary" *ngIf="this.student" routerLink="/admin/student/{{this.student.pseudo}}">Retour</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>

