<form class="container myFont" [formGroup]="studentForm" (ngSubmit)="createStudent()">
  <h2>Ajout d'un étudiant</h2>
  <br />

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Nom</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="lastname">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Prénom</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="firstname">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Pseudo</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="pseudo">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Date de naissance</label>
    <div class="col-md-3">
      <input type="date" class="form-control" formControlName="birthdate">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Spécialité</label>
    <div class="col-md-3">
      <select class="form-control"
              [(ngModel)]="selectedSpeciality"
              [ngModelOptions]="{standalone: true}">
        <option *ngFor="let speciality of getSpecialities()" [ngValue]="speciality" >{{speciality}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Email</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Téléphone</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="phone">
    </div>
  </div>
  <br />

  <div>
    <button class="btn btn-primary" routerLink="/admin/students">Retour</button>
    <button class="btn btn-success" type="submit">Save</button>
  </div>
</form>
