<main class="container myFont">
  <div class="jumbotron"style="margin-top: 60px">
    <div class="row">
      <div class="col-md-9">
        <h2 class="text-center">Bienvenue sur le gestionnaire des étudiants</h2>
      </div>
      <div class="col-md-3">
        <img src="../assets/images/student.gif" alt="icon accueil">
      </div>
    </div>
    <br />
    <p >Bonjour, <br />
      Vous êtes sur l'intranet de Polytech Paris-Sud. <br />
      Vous allez pouvoir modifier vos données personnlles ainsi que consulter vos notes.
    </p>
    <br />

    <div class="text-center">
      <form [formGroup]="enterForm" (ngSubmit)="enter()">
        <label class="center-block" style="font-style: italic">Veuillez entrer votre pseudo pour accèder à votre compte
          <input class="form-control" formControlName="pseudo">
        </label>
        <button type="submit" class="btn btn-success btn-color">Valider</button>
      </form>
    </div>
    <br />

    <div *ngIf="this.pseudo">
      <p>Bonjour {{this.pseudo}}, <br />
      Vous n'avez pas encore de compte... <br />
      Veuillez contacter un administrateur.</p>
    </div>
  </div>
</main>
