img{ width : 100px;}


.btn-color{
  background-color: #009999;

}
.myFont{
 text-align: left;
  font-style: normal;
  font-size: 20px;
  font-family: Georgia, serif;
}
.jumbotron{
  background-color: #C0C0C0;
}
